.keno-button {
    width: 3rem;
    height: 3rem;
    background-color: olivedrab;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.keno-button:checked {
    background-color: orange;
}

label {
    width: 20px;
    margin:0 3px 0;
  
}
