<h3>KENO</h3>
	<div class="row">
	@foreach(var item in chooseNumbers)
	{
		
			<input type="checkbox" class="hidden keno-checkbox" @bind="item.IsSelected" @onclick="ChosenNumber" value="@item.MyNumbers" id="keno-@item.MyNumbers"/>
	<label for="keno-@item.MyNumbers" class="round-button">@item.MyNumbers</label>
	
	
			}
</div>
@foreach (var item in chooseNumbers.Where(n => n.IsSelected))
{
	
	<p>@item.MyNumbers</p>

}



@code
		{
			private List<ListItem> chooseNumbers = Enumerable.Range(1, 70).Select(i => new ListItem { MyNumbers = i }).ToList();

			private void ChosenNumber()
			{
				var selectedNumber = chooseNumbers.Count(n => n.IsSelected);
	
				try
				{

					if (selectedNumber > 11)
					{
						Console.WriteLine("Du får endast välja 11 nummer");

					}
				}
				catch (Exception e)
				{
					Console.WriteLine(e.Message);
				}
	
			}
	}


		