.keno-button {
    width: 3rem;
    height: 3rem;
    background-color: olivedrab;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: .5s;
    z-index: 1;
  
}

.hidden {
    display: none;
 
}


.round-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: olivedrab;
    margin: 5px 5px;
   cursor: pointer;
}

.round-button:hover {
    background-color:chocolate;
    box-shadow: 0 0 5px orange;
}

input:checked {
    background-color: gray;
}

.row {
    max-width: 50rem;
    width: 100%;
    margin: 2rem auto;
    padding: 3rem;
    background: #fff;
    border: 0.3rem solid #34495e;
}