.keno-text  {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: orange;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.numbers-left {
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5px;
}


.wrap {
    max-width: 50rem;
    width: 12rem;
    margin: 20px auto;
    background-color: #f3b037;
    border: 0.2rem solid #34495e;
    justify-content:center;
    
}
.hidden {
    display: none;
}
h3{
    font-size: 14px;
}

h4 {
    font-size: 12px;
}


.round-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0.12rem solid #264d16;
    background-color: olivedrab;
    background: radial-gradient(circle at 65% 15%, white 0.5px, #B8E2A3 10%, #42A341 40%, #074C00 80%);
    margin: 5px 5px;
    cursor: pointer;
    color: white;
}

.round-button:hover {
   
    box-shadow: 0 0 7px orange;
}

input:checked {
 color: grey;
}

.row {
    max-width: 50rem;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background: #fff;
    border: 0.3rem solid #34495e;
    justify-content: center;
}