
<!--En knapp med en händelsehanterare som kallar på metoden "GenerateRandomNumbers" när knappen är tryckt-->		
<button class="btn-randomize" type="button" @onclick="GenerateRandomNumbers"><h4 class="keno">keno</h4></button>
	

		@if (randomNumbers.Count > 0)
		{
			<div class="row">
			@for (int i= 0; i < randomNumbers.Count; i++)
				
			{	
				<button class="round-button">@randomNumbers[i]</button>
		
			}
	</div>
		}

@code {
    //En lista som kallas "randomNumbers" som genererar 70 slumpmässiga nummer
    private List<int> randomNumbers = new List<int>();
    //metod
    public void GenerateRandomNumbers()
    {
        randomNumbers.Clear();
        Random rnd = new Random();
        Console.WriteLine("Kenos lottonummer är: ");

        while (randomNumbers.Count < 20)
        {
            MyRandom = rnd.Next(1, 71);
            if (!randomNumbers.Contains(MyRandom))
                randomNumbers.Add(MyRandom);
        }
        Console.WriteLine(String.Join(", ", randomNumbers));


    }
}

<br />
<br />