.round-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 0.12rem solid #264d16;
    background-color: olivedrab;
    background: radial-gradient(circle at 65% 15%, white 0.5px, #B8E2A3 10%, #42A341 40%, #074C00 80%);
    margin: 5px 5px;
    cursor: pointer;
    color: white;
}

    .round-button:hover {
        box-shadow: 0 0 7px orange;
    }


.row {
    max-width: 50rem;
    width: 100%;
    margin: 2rem auto;
    padding: 10px;
    background: #fff;
    border: 0.3rem solid #34495e;
    justify-content: center;
}

.container{
padding:20px;

}

.btn-randomize {
    border-radius: 4px;
    background-color:chocolate;
    text-transform:uppercase;
    border: none;
    color: #fff;
    padding: 16px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

    .btn-randomize:after {
        content: '\2193';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
        font-size: 32px;
    }

    .btn-randomize:hover {
        padding-right: 24px;
        padding-left: 8px;
    }

        .btn-randomize:hover:after {
            opacity: 1;
            right: 10px;
        }


.keno{
    font-size: 14px;
    letter-spacing: 2px;
    
    
}




