@page "/"

<PageTitle>Keno</PageTitle>
<div class="center">
	<img class="logo" src="keno.png" alt="Keno logo" />
</div>



<div class="center-confirm">
	<h1>Har du fyllt 18?</h1>
	<a class="btn btn-success" href="/lottery">Ja</a>
</div>

<div class="rules-container">
	<div class="rules">
		<h3>Regler</h3>
		<p>Välj upp till 11 nummer. Antalet valda nummer bestämmer spelnivå. Därefter dras 20 slumpmässiga nummer och vinst betalas ut baserat på antal rätt, spelnivå och speltyp.</p>
		<p>Spelaren kan även välja att spela kung keno. Då dubblas insatsen och spelaren har chans till högre vinst. Efter att de 20 slumpmässiga numren har valts, väljs ett av dem som kung keno.
			Om spelaren har detta nummer bland sina valda, har den kung keno och får därmed en högre vinst.</p>
	</div>
</div>